# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/
share/

# Node.js
node_modules/
package-lock.json
npm-debug.log

# OS-specific files
.DS_Store
Thumbs.db
# IDE configurations
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.vs
.settings/
